doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/boxicons@latest/css/boxicons.min.css")
        link(rel="stylesheet", href="../src/css/style.css")
        title Top Hotel
    body 
        header.header.container   
            nav.nav
                ul.nav__list 
                    li.nav__item 
                        a(href="#")
                            img(src="../src/images/logo/Group (1).svg", alt="") 
                    li.nav__item 
                        a(href="#") Benefits
                    li.nav__item 
                        a(href="#") Solution
                    li.nav__item 
                        a(href="#") FAQ
                    li.nav__item 
                        a(href="#") <i class='bx bx-user'></i> 

        main.main 
            .main__container.container 
                .main__container__box 
                    img(src="../src/images/brand1.png", alt="")
                    h2 Simple
                    p Simple, but powerful, front desk just one of our many features.
                .main__container__box 
                    img(src="../src/images/brand2.png", alt="")
                    h2 AI Integration
                    p By integrating AI, front office work can be done more quickly and effectively.
                .main__container__box 
                    img(src="../src/images/brand3.png", alt="")
                    h2 Learning System
                    p Manage your property and guests all in one place, and in half the time, with a single login.
                .main__container__box 
                    img(src="../src/images/brand4.png", alt="")
                    h2 Learning System
                    p Hotel front offices can work without experience or familiarity with a learning system.   
                .main__container__box 
                    img(src="../src/images/brand4.png", alt="")
                    h2 Simple
                    p Simple, but powerful, front desk just one of our many features.
                .main__container__box 
                    img(src="../src/images/brand3.png", alt="")
                    h2 AI Integration
                    p By integrating AI, front office work can be done more quickly and effectively.
                .main__container__box 
                    img(src="../src/images/brand2.png", alt="")
                    h2 Learning System
                    p Manage your property and guests all in one place, and in half the time, with a single login.
                .main__container__box 
                    img(src="../src/images/brand1.png", alt="")
                    h2 Learning System
                    p Hotel front offices can work without experience or familiarity with a learning system.         

        section.section 
            .heading 
                h2 Benefits of using hotel
                    br   
                    span front desk software
                p This system reduces your team’s work and lets you move front desk staff to other areas where  they can serve guests better    
            .section__container.container 
                .section__content__box
                    .content__box__inner 
                        img(src="../src/images/logo/logo1.svg", alt="")
                        p Fewer manual tasks to manage
                    .content__box__inner 
                        img(src="../src/images/logo/logo2.svg", alt="")
                        p Optimize your staffing
                    .content__box__inner 
                        img(src="../src/images/logo/logo3.svg", alt="")
                        p Reduce front desk operating hours
                    .content__box__inner 
                        img(src="../src/images/logo/logo4.svg", alt="")
                        p Cut costs—without it ever harming the guest experience
                    .content__box__inner 
                        img(src="../src/images/logo/logo5.svg", alt="")
                        p Organise your housekeeping
                    .content__box__inner 
                        img(src="../src/images/logo/logo6.svg", alt="")
                        p Manage your rooms and rates    

                .section__img__box
                    img(src="../src/images/back__footer.png", alt="")
            button.btn Book A Demo

        section.section__footer
            .section__inner 
                .heading 
                    h2 More from our happy 
                        br
                        span    customers
                .section__title
                    img(src="../src/images/Tabpan.png", alt="")
                    .section__title__text 
                        p Lorem ipsum dolor sit amet consectetur. Ac laoreet eleifend senectus faucibus tellus elementum. Ipsum pretium amet etiam ornare mollis aliquam id diam. Fringilla purus egestas nunc donec libero sit. Consequat sed vel vitae donec convallis. Quam pretium fames feugiat convallis lobortis turpis. Convallis tellus nisi facilisis orci morbi sit dui diam. Interdum nec urna iaculis at elit. Rhoncus morbi nunc ornare ipsum. Enim vitae quis at tempus enim in pulvinar nibh. Turpis massa a eu consectetur tellus faucibus lobortis.
                        h2 John Dermott
                        br
                        span Balto 

        footer.footer 
            .footer__inner.container 
                    .footer__container 
                        .footer__box 
                        h2 Perspective
                        p Perpsective is Lorem ipsum 
                        br dolor sit amet consectetur.
                        .social__media 
                            a(href="#") <i class='bx bxl-facebook'></i>
                            a(href="#") <i class='bx bxl-linkedin' ></i>
                            a(href="#") <i class='bx bxl-twitter' ></i>
                            a(href="#") <i class='bx bxl-youtube' ></i>
                            a(href="#") <i class='bx bxl-instagram'></i>
                            span 
                    .footer__box 
                        span 
                        a(href="#") Home
                        a(href="#") Benefits 
                        a(href="#") TECHNOLOGIES
                        a(href="#") Solution
                        a(href="#")  FAQ
                    .footer__box 
                        span 
                        a(href="#") Privacy Policy
                        a(href="#")  Cookie Policy

                    .footer__box 
                        h2 SOCIALIZE WITH HYDRA
                        .social__media 
                            a(href="#") <i class='bx bxl-facebook'></i>
                            a(href="#") <i class='bx bxl-linkedin' ></i>
                            a(href="#") <i class='bx bxl-twitter' ></i>
                            a(href="#") <i class='bx bxl-youtube' ></i>
                            a(href="#") <i class='bx bxl-instagram'></i>
                        span         



